@use 'variables';

.main-header {
  @include variables.flex ($justify: none);
  height: 550px;
  width: 100%;
  background-color: #db943d;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 0.9em;
  position: relative;
  z-index: 3;
  margin-top: -120px;
  font-size: 1em;
}

.user-name > h2 {
  margin-top: -1.6em;
  color: whitesmoke;
  font-size: 2em;
}

.avatar, .user-name {
  @include variables.flex ($direction: row);
  margin-top: 100px;
}

