@use 'variables';

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  padding: 0.7em;
  background-color: transparent;
}

.logo {
  font-family: variables.$font-logo;
  font-size: 1.1em;
}

.nav-bar {
  @include variables.flex ($direction: row, $justify: space-between);
}

.nav-right {
  @include variables.flex ($justify: none);
  font-size: 0.65em;
  padding-top: 0.2em;
}

.fa-angles-down {
  @include variables.flex ($direction: row);
  color: variables.$arrow-btn-color;
  margin-top: 0.4em;
  cursor: pointer;
}

.fa-angles-down:hover {
  font-size: 1.2em;
}



