@use 'variables';

article.tweet {
  @include variables.flex;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  justify-content: space-between;
  padding: 0em 0.4em;
  border: 3px solid black;
}

article.tweet:hover {
  box-shadow: 0.6em 0.6em rgba(153, 164, 176, 0.736);
}


.tweet > header {
  @include variables.flex($direction: row, $justify: space-between);
  background-color: transparent;
  align-items: center;
}

.tweet > footer {
  @include variables.flex($direction: row, $justify: space-between);
  font-size: 0.65em;
  padding: 0.3em 0.7em;
  margin-bottom: 1em;
}


.tweet-icons {
  color:  #4056A1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fa-flag, .fa-retweet, .fa-heart{
  padding-right: 0.5em;
} 

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover{
  color: rgb(232, 213, 74);
} 


.user {
  display: flex;
  align-items: center;
  margin: 1.2em 0 0 1em;
}

.user-icon {
  margin-right: 0.3em;
  width: 50px;
}

.name {
  font-size: 0.7em;
}

.tweet-msg-line {
  border-bottom: 3px solid black;
  width: 100%;
}

.tweet-msg {
  padding: 0em 0.7em;
  color: rgb(53, 48, 48);
  max-width: 100%;
  overflow-wrap: break-word;
}

.post-date {
  font-weight: 600;
}

.user-handle {
  color: rgba(30, 29, 29, 0.3);
  font-weight: 600;
  padding-right: 1.5em;
  margin-top: 1em;
  font-size: 0.8em;
}

.length-control {
  max-width: 100%;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.tweet-container {
  position: relative;
  z-index: 1;
}
