
article.tweet {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  padding: 0.5em 0.7em;
  border: 3px solid black;
}

.tweet > header {
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet > footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  padding: 0.2em 0.7em;
}


.tweet-icons {
  color:  #4056A1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fa-flag, .fa-retweet, .fa-heart{
  padding-right: 0.5em;
} 

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover{
  color: rgb(232, 213, 74);
} 

.avatar {
  margin-right: 0.5em;
}

.user {
  display: flex;
  align-items: center;

}

.tweet-msg-line {
  border-bottom: 3px solid black;
  padding-top: 0em;
}

.tweet-msg {
  padding: 0em 0.7em;
}

.post-date {
  font-weight: 600;
}

.user-handle {
  color: rgba(30, 29, 29, 0.3);
  font-weight: 600;
  padding-right: 0.4em;
}

.length-control {
  max-width: 900px;
}
